.feed-page {
  display: flex;
  justify-content: center;
  align-items: center;

  .feed {
    max-width: 300px;
    width: 100%;

    .posts {
      width: 100%;
    }

    .post {
      width: 100%;
      display: flex;
      flex-direction: column;
      gap: 0.5rem;
      background-color: ;
      .user {
        display: flex;
        gap: 0.5rem;
        align-items: center;

        img {
          width: 2rem;
          aspect-ratio: 1/1;
          border-radius: 50%;
        }
      }

      img{
        width: 100%;
        aspect-ratio: 1/1;
      }
    }
  }
}
